{% extends 'nav_bar.html' %}
{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/post_create.css' %}">

    <div class="container">    
        <form name="writeText" class="editText" action="{% url 'board_post' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="username" value="{{ user.username }}" />
            <div class="pushBtn"> <!--등록 버튼-->
                <button type="submit" id="stop">등록</button>
            </div>

            <p id="alertText">제목을 작성해주세요!</p>

            <div>
                <p class="title">제목:</p> <!--제목 부분-->
                <textarea name="title" id="postTitle" rows="0" maxlength="17" oninput="maxLengthCheck(this)"
                placeholder="17자 이내로 제목을 입력해주세요."></textarea> 
            </div>
            
            <div>
                <p class="name">이름:</p> <!--반려동물 이름 부분-->
                <textarea name="pet_name" id="name" rows="0" maxlength="17" oninput="maxLengthCheck(this)"
                placeholder="반려동물 이름을 알려주세요!"></textarea>
            </div>

            <div> 
                <p class="age">나이:</p> <!--반려동물 나이 부분-->
                <textarea name="pet_age" id="age" rows="0" maxlength="10" oninput="maxLengthCheck(this)"
                placeholder="반려동물 나이를 알려주세요!"></textarea>
            </div>
            
            <p class="text">내용</p> <!--게시글 내용 부분-->
            <textarea name="content" rows="0" id="editArea" maxlength="150" oninput="maxLengthCheck(this)"
            placeholder="반려동물 자랑을 적어주세요!&#10;&#10;ex)우리 집 고양이 귀엽죠?"></textarea>
            <div id="charCount">(0 / 150)</div> <!--글자수-->


            <div class="imageArea"> <!--업로드 한 사진 부분-->
                <p class="picture">사진</p>
                <p id="upload">사진을 업로드 해주세요!</p>
                <img src="" alt="" id = "change">
                <div id="del">&#215;</div>
            </div>

            <div class="image"> <!--사진 등록 부분-->
                <label for="fileInput" id="imageButton">
                    <img src="{% static 'img/camera.png' %}" alt="파일 선택하기">
                </label>
                <input type="file" id="fileInput" name="pet_image"> <!--파일 선택-->
                <span id="fileName"></span>
            </div>
        </form>
    </div>
    <script src="{% static 'js/post_create.js' %}"></script>
{% endblock %}