body {
    margin: 0;
    padding: 0;
    /* height: 100%; */
}

.container {
    font-family: 'SUITE-Regular';
    width: 375px; /* 전체 width 조절 */
    margin: 0 auto; /* 가운데로 오게 하기 */
    position: relative;
    /* padding-bottom: 100px; */
    z-index:0;
    /* border: 1px solid black; */
    background-color: #BFDCF6;
}

.icons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-direction: row;
    /* justify-content: space-around; */
}


.back_icon{
    /* border: 1px solid rebeccapurple; */
    width: 12px;
    height: 22px;
    margin-top: 22px;
    margin-left: 13px;

}


.logo_icon{
    /* border: 1px solid pink; */
    margin-left: 31%
}

.login_icon{
    margin-top: 22px;
    margin-left: 92px;
}
.login_icon > a {
    text-decoration: none;
    color: black;
   

}