{% extends 'nav_bar.html' %}
{% block content %}
{% load static %}
<div class="container">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
        <div class="nav-bar">
        </div>
            <img src="{% static 'img/image 55.png' %}" alt="" class="logo">
        <div class="input">
            <form action="" method="post" onsubmit="checkPassword()">
                {% csrf_token %}
                <!-- <p for="username">아이디</p> -->
                <input class="nickname" type="text" id="username" name="username" placeholder="name" required>
                <p id="alert">아이디는 7자 이하로 적어주세요!</p> <!--경고 추가-->

                <!-- <p for="email">이메일</p> -->
                <input class="nickname" type="email" id="email" name="email" placeholder="email" required>

                <!-- <p for="password">비밀번호</p> -->
                <input class="nickname" type="password" id="password" name="password1" placeholder="password" required>

                <!-- <p for="password-confirm">비밀번호 확인</p> -->
                <input class="nickname" type="password" id="password-confirm" name="password2" placeholder="password check" required>
                <div class="button">
                    <button type="submit" onclick="return validateForm()" id="stop">Sign up</button>
                </div>
            </form>
        </div>
</div>
    <script src="{% static 'js/signup.js' %}"></script>
{% endblock %}