<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catogory_list</title>
    <link rel="stylesheet" href="../static/css/category_list.css">
</head>

<body>
    <div class="container">
        <div class="nav_bar">

        </div>
        <div class="catogory_name">
            <p class="name">동물  <a href="">글 작성 ></a></p>
            
        </div>
        
        <!-- 게시글 부분 -->
        <div class="items">
            <img src="../static/img/Vector 5.png" alt="" class="line">

            <div class="content1">
                <a class="item" href="">
                    <p>푸바오는 귀여움</p>
                    <h6>23.07.16</h6>
                </a>
            </div>
            <img class="line_1" src="../static/img/Line 6.png" alt="">
            <div class="content1">
                <a class="item" href="">
                    <p>푸바오는 귀여움</p>
                    <h6>23.07.16</h6>
                </a>
            </div>
            <img class="line_1" src="../static/img/Line 6.png" alt="">
            <div class="content1">
                <a class="item" href="">
                    <p>푸바오는 귀여움</p>
                    <h6>23.07.16</h6>
                </a>
            </div>
            <img class="line_1" src="../static/img/Line 6.png" alt="">
            <div class="content1">
                <a class="item" href="">
                    <p>푸바오는 귀여움</p>
                    <h6>23.07.16</h6>
                </a>
            </div>
            <img class="line_1" src="../static/img/Line 6.png" alt="">
            
            <div class="content1">
                <a class="item" href="">
                    <p>푸바오는 귀여움</p>
                    <h6>23.07.16</h6>
                </a>
            </div>
            <img class="line_1" src="../static/img/Line 6.png" alt="">
            
           
        </div>

        <!-- <div class="button">
            <button type="button">더보기</button>
        </div> -->
<!-- 페이징 하는거 만들려 했는데 안돼서 그냥 날리셔도 괜찮아요 -->
        <div class="pagination_button">
            <button type="button" class="page-prev-btn">이전</button>
            <button type="button" class="page-btn active">1</button>
            <button type="button" class="page-btn">2</button>
            <button type="button" class="page-btn">3</button>
            <button type="button" class="page-btn">4</button>
            <button type="button" class="page-btn">5</button>
            <button type="button" class="page-next-btn">다음</button>
            
        </div>










        <script src="../static/js/category_list.js"></script>
    </div>


</body>

</html>