<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mypage</title>
    <link rel="stylesheet" href="../static/css/mypage.css">
</head>

<body>
    <div class="container">
        <div class="nav_bar">
            <link rel="stylesheet" href="../templates/nav_bar.html">
        </div>
        <!-- 프로필 이미지 부분 => 사람 아이콘 알죠? -->
        <div class="user_logo">
            <img src="../static/img/image 56.png" alt="">
        </div>
        <div class="profile">
            <div class="profile_name">
                <p>ㅇㅇㅇ님</p>
            </div>
            <div class="profile_post">
                <p>작성글 <br>2 </p>
            </div>
        </div>

        <img src="../static/img/Vector 5.png" alt="">

        <div class="post">
            <p>내가 작성한 게시글</p>
        </div>
        <img class="line" src="../static/img/Line 5.png" alt="">
        <div class="post_1">
            <a href=""><p>안녕하세요 복돌이 귀엽져</p></a>
            <h6>23.07.16</h6>
        </div>
        <img class="line" src="../static/img/Line 5.png" alt="">
        <div class="post_2">
            <a href=""><p>안녕하세요 복돌이 귀엽져</p></a>
            <h6>23.07.16</h6>
        </div>
        <img class="line" src="../static/img/Line 5.png" alt="">
        <div class="post_3">
            <a href=""><p>안녕하세요 복돌이 귀엽져</p></a>
            <h6>23.07.16</h6>
        </div>
        <img class="line" src="../static/img/Line 5.png" alt="">
        <div class="post_4">
            <a href=""><p>안녕하세요 복돌이 귀엽져</p></a>
            <h6>23.07.16</h6>
        </div>
        <img class="line" src="../static/img/Line 5.png" alt="">
        <div class="post_5">
            <a href=""><p>안녕하세요 복돌이 귀엽져</p></a>
            <h6>23.07.16</h6>
        </div>
        <img class="line" src="../static/img/Line 5.png" alt="">

        <div class="button">
            <a class="logout" href="">로그아웃</a>
        </div>
    </div>
</body>

</html>