<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nav_bar</title>
    <link rel="stylesheet" href="{% static 'css/nav-bar.css' %}">
</head>
<body>
    <!--상단바 -->
    <div class="nav_bar">
        <div class="icons">
            <div class="back_icon">
                <img src="{% static 'img/_.png' %}" alt="" onclick="window.history.back()">
            </div>

            <div class="logo_icon">
                <a href="{% url 'main' %}"> <!--★★여기가 메인페이지 연결이래용-->
                    <img src="{% static 'img/image 54.png' %}" alt="">
                </a>
            </div>
            {% if user.is_authenticated %}
            <div class="login">
                <a href="{% url 'accounts:my_page' pk=user.pk %}">{{ user.username }} 님</a>
            </div>
            {% else %}
            <div class="login">
                <a href="{% url 'accounts:login' %}">로그인</a>
            </div>
            {% endif %}
        </div>
    </div>
    {% block content %}

    {% endblock %}
</body>
</html>