<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nav_bar - 로그인 되었을때</title>
    <link rel="stylesheet" href="../static/css/nav-bar.css">
</head>
<body>
    <div class="container">
    
        <!--상단바 -->
        <div class="nav_bar">
            <div class="icons">
                <div class="back_icon">
                   <a href=""><img src="../static/img/_.png" alt=""></a> 
                </div>
                <div class="logo_icon">
                    <img src="../static/img/image 54.png" alt="">
                </div>
                <div class="login_icon">
                    <a href="">~님</a>
                </div>
             
            </div>
        </div>
        
    </div>
</body>
</html>